* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.2rem;
}

body {
   font-family: var(--ff-paragraph);
}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

:root {
    
    --clr-baltic-sea: #303841;
    --clr-shuttle-grey: #303841;
    --clr-aluminum: #7A8085;
    --clr-grey-chateau: #95999D;


    --clr-whisper: #EEEEEE;
    --clr-white-smoke: #F1F1F1;

    --clr-outrageous-orng: #FF5722;
    --clr-coral: #FF794E;
    --clr-atomic-tangerine: #FF9471;

    --clr-iris-blue: #00ADB5;
    --clr-md-turquoise: #33BDC4;
    --clr-spray: #7DD5D9;

    --ff-title:'Josefin Sans', sans-serif;
    --ff-sub-title:'Roboto Slab', serif;
    --ff-paragraph:'Kanit', sans-serif;

    --transition: all .3s ease-in-out;

}

section {
    padding-inline: 1em;
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;

    background-color: var(--clr-white-smoke);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex__column {
    flex-direction: column;
}

.grid {
    display: grid;
}

.grid__column {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

a:hover {
    cursor: pointer;
}

header {
    font-family: var(--font-one);
    background-color: var(--clr-aluminum);
    justify-content: space-evenly;
    align-items: center;
    
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
}

.logo {
    color: var(--clr-shuttle-grey);
    font-family: var(--ff-title);
}

.nav_mobile {
    display: none;
}

.nav_desktop {
    width: 50%;
    justify-content: space-between;
}

.nav_desktop a,
.nav_mobile a {
    text-decoration: none;
    color: var(--clr-iris-blue);
    transition: .6s ease-in-out;
    font-family: var(--ff-sub-title);
    font-size: 1rem;
}

li {
    list-style: none;
}

.nav_desktop li,
.nav_mobile li {
    border-radius: 3px;
    padding: .5em;
    transition: .6s ease-in-out;
    background-color: var(--clr-atomic-tangerine);
}


.nav_desktop a:hover,
.nav_mobile a:hover {
   color: var(--clr-md-turquoise);
}

.responsive__menu {
    display: none;
}

.welcome__container {
    padding-inline: 1em;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 1em;
   
    background-image: url('background-images/bbburst-one.svg');
    color: var(--clr-baltic-sea);
}

.welcome__container div,
.about__container div {
    flex: 1 1 20rem;
}

.title {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-sub-title);
    min-height: 70%;
    border-radius: .5rem;
    background-color: var(--clr-atomic-tangerine);
}

.title h1 {
    margin-inline: 10px;
    font-size: 1.25rem;
}

.recomendation {
    height: fit-content;
    border-radius: 3%;
    text-align: center;
    justify-content: space-evenly;
    align-self: flex-end;
    margin-bottom: 3em;
    background-color: var(--clr-iris-blue);
}

.recomendation h5 {
    margin-top: 1.2rem;
}

.recomendation small {
    margin-top: 1rem;
}

/* about section */
.about__container {
    align-items: center;
    justify-content: space-around;
    padding-top: 2em;
    padding-inline: 1em;

    background-image: url('background-images/bbburst-two.svg');
}

.hours__container {
    text-align: center;
    justify-content: space-around;
}

.hours__container, .info__container {
    border-radius: 8px;
}

.info__container {
    height: fit-content;
    text-align: center;
    gap: 1em;
}

.info__container h3 {
    margin: 0 auto;
    text-align: center;
}

/* Food Section */
/* Main Menu Nav */
.main__menu-container {
    align-items: center;
    width: 100%;
    z-index: 1;
    transition: var(--transition);
    height: 100vh;
    padding-top: 2.5em;

    background-image: url('background-images/bbburst-three.svg');
    
}

.flex_container {
    gap: 1em;
}

.main__menu-container li {
    background-color: rgba(255, 255, 255, 0.007);
    flex: 1 1 10rem;
}


.menu__link {
    text-decoration: none;
    font-size: 2rem;
    width: 15rem;
    text-align: center;
    transition: var(--transition);
}

.menu__link:hover {
    color: var(--clr-accent);
    cursor: pointer;
}

.back_container:hover {
    cursor: pointer;
}

/* Food Menu */
.food__menu-container, 
.creations__menu-container, 
.hotdrinks__menu-container, 
.icedrinks__menu-container {
    position: absolute;
    top: 0;
    padding-top: 2.5em;
    height: 100vh;
    transform: translateX(-100%);
    place-content: center;
    transition: var(--transition); 
    background-image: url('background-images/bbburst-six.svg');
} 

.food__menu-container, 
.creations__menu-container,
.hotdrinks__menu-container,
.icedrinks__menu-container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1em;
}

.icedrinks__menu-container .items__container {
    flex-direction: row;
}

.food__menu-container h2:hover, 
.creations__menu-container h2:hover, 
.hotdrinks__menu-container h2:hover, 
.icedrinks__menu-container h2:hover {
    cursor: pointer;
}

.sub__container {
    width: 100%;
    align-self: center;
    justify-self: center;
    background-color: #00ADB5;
}

.food__menu-container li {
    color: var(--clr-font-primary);
    text-decoration: none;
}

.sub__container h2 {
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.sub__container h2:hover {
    background-color: #9d9d9dc2;
}

.items__container {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
}

.items__container li:hover {
    color: var(--clr-accent);
}

.back_btn_container {
    position: absolute;
    bottom: 5em;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #00ADB5;
}

/* Blog Section */
.blog__container {
    height: 100vh;

    align-items: center;

    background-image: url('background-images/bbburst-four.svg');
}

.blog_items {
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
}

/* Events Container */
.events__container {
    place-content: center;
    justify-items: center;
    gap: 1em;
    background-image: url('background-images/bbburst-five.svg');
}

.item {
    flex: 1 1 10rem;
    padding: 1em;
    gap: 1em;
    text-align: center;
    -webkit-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
}

.blog__container .item.one {
    background-color: var(--clr-coral);
}

.blog__container .item.two {
    background-color: var(--clr-spray);
}

.blog__container .item.three {
    background-color: var(--clr-outrageous-orng);
}

.inactive {
    display: none;
}

.section__active {
    opacity: 1;
}

.section__slide-back {
    transform: translateX(-100%);
}

.section__slide-in {
    transform: translateX(0);
}

@media screen and (max-width: 615px) {
    .nav_desktop {
        display: none;
    }

    .responsive__container {
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .responsive__menu {
        display: flex;
        flex-direction: row-reverse;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }

    .responsive__menu:hover{
        cursor: pointer;
    }

    .bar {
        width: 40px;
        height: 5px;
        margin-top: 5px;
        border-radius: 3px;
        background-color: var(--clr-outrageous-orng);
        transition: .6s ease-in-out;
        transform: rotate(90deg);
    }

    .bar:nth-child(2){
        width: 30px;
    }

    .bottom__bar {
        width: 20px;
    }

    .bar:hover {
        background-color: aqua;
    }

    .bottom__active {
        width: 40px;
    }

    .top__active{
        width: 20px;
    }

    .nav_mobile {
        position: fixed;
        top: 4.5em;
        left: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width: 100%;
        transition: var(--transition);
        background-color: var(--clr-shuttle-grey);
    }

    .nav_transition {
        left: 0;
    }


}

