/* Blog Section */
.blog__container {
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-image: url(/resources/blog-cover.jpg);
}

.card__container {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    justify-content: center;
    background-color: var(--clr-background);
}

/* Log in Cards */
.left__side-card {
    border-radius: 5px;
    
    background-image: url(/resources/card-cover.jpg);

    height: 300px;
    width: 300px;
    transition: var(--transition);
    z-index: 9;
}

.right__side-card {
    height: 300px;
    width: 300px;
    transition: var(--transition);
}

.login {
    border-radius: 5px;
    background-color: var(--clr-background);
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    justify-content: center;
}

input {
    height: 1.8rem;
    width: 12rem;
    margin-top: 1.2rem;
    border: none;
    border-radius: 3px;
}

.submit__button {
    font-family: var(--font-two);
    background-color: var(--clr-accent);
    font-size: .8rem;
    transition: .3s ease-in-out;
}

.submit__button:hover {
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid #4c4c4c;
}   

.submit__button:active {
    box-shadow: none;
}

/* Card Links */
.create__account-link, .back__to-login {
    font-size: .8rem;
    transition: .3s ease-in-out;
}

.opacity {
    opacity: 0;
}

.create__account-link:hover, .back__to-login:hover{
    cursor: pointer;
    color: var(--clr-accent);
}

/* Create Account Cards */
.create__account-container {
    justify-content: center;
    align-items: center;
    height: 100vh;

    position: absolute;
    top: 0;
}

.create__account-card {
    align-items: center;
}

.blank__card {
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items:flex-end;
    margin-bottom: 3rem;
}

/* Form Switch Styles */
.inactive {
    display: none;
}

.card__switch-back {
    transform: scale(.9);
}

.card__slide-left {
    transform: translateX(100%);
}

.card__slide-right {
    transform: translateX(100%);
}

.z-index {
    z-index: 10;
}

.display {
    display: none;
}

.login__card-inactive {
    display: none;
}


