/* Main Menu Nav */
.main__menu-container {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 1;
    transition: var(--transition);
    height: 100vh;
    
    background-image: url(/resources/menu-cover.jpg);
}

.food__menu-container {
    background-image: url('/resources/food-menu-cover.jpg');
}

.creations__menu-container {
    background-image: url('/resources/creations-menu-cover.jpg');
}

.hotdrinks__menu-container {
    background-image: url('/resources/hotdrinks-menu-cover.jpg');
}

.icedrinks__menu-container {
    background-image: url('/resources/icedrinks-menu-cover.jpg');
}

.menu__link {
    text-decoration: none;
    font-size: 2rem;
    transition: var(--transition);
}

.menu__link:hover {
    color: var(--clr-accent);
    cursor: pointer;
}


/* Food Menu */
.food__menu-container, .creations__menu-container, .hotdrinks__menu-container, .icedrinks__menu-container {
    position: absolute;
    top: 0;
    height: 100vh;
    transform: translateX(-100%);

    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    align-items: center;
    transition: var(--transition); 
} 

.food__menu-container li {
    color: var(--clr-font-primary);
    text-decoration: none;
}

.sub__container  {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 75%;
    text-align: center;
}

.sub__container h2 {
    color: var(--clr-font-secondary);
    background-color: #9d9d9d8d;
    border-radius: 5px;
}

.items__container {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
}

.items__container li:hover {
    color: var(--clr-accent);
}

@media only screen and (max-width: 768px) {
    .food__menu-container {
        padding-top: 5rem;
        display:flex;
        flex-direction: column;
        height: fit-content;
    }

    .sandwich__container, .toast__container, .bagels__container, .other {
        height: 100%;
    }

    .main__menu-container {
       flex-direction: column;
       justify-content: space-evenly;
    }

    .food__menu-container h3 {
        margin: 1.2rem auto;
        color: var( --clr-accent);
    }

    .food__items-container {
        height: 100%;
    }
}

/* menu animation with JS */
.section__active {
    opacity: 1;
}

.section__slide-out {
    transform: translateX(100%);
}

.section__slide-back {
    transform: translateX(-100%);
}

.section__slide-in {
    transform: translateX(0);
}