@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Poppins&display=swap');

:root {
    --font-one: 'Arvo', serif;
    --font-two: 'Poppins', sans-serif;
    --clr-font-gray: #4c4c4c;
    --clr-background: #9D9D9D;
    --clr-font-primary: #FEFBF3;
    --clr-secondary : #F8F0DF;
    --clr-accent: #79B4B7;
    --transition: .6s ease-in-out;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.2rem;
}

body {
    font-family: var(--font-one);
    color: var(--clr-font-primary);   
}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section, .left__side-card {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex__column {
    flex-direction: column;
}

.grid {
    display: grid;
}

.grid__column {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

a:hover {
    cursor: pointer;
}

